<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background: rgb(200,35,67);
            text-align: center;
        }
        h1{
            color: white;
        }

    </style>
    <h1>Homepage</h1>
    <h2>Hi my name is {{my_name}}</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Provident, libero. Voluptates delectus distinctio 
         adipisci impedit maxime? Laboriosam esse tempore ipsam 
         placeat, possimus recusandae saepe, minus officia 
         repellat molestias, sunt beatae! Dolore molestias 
         quisquam pariatur dolores mollitia ea sit cum iusto?

    </p>
</body>
</html>